
            <ul class='sidenav'>
                <br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']"> <span class='glyphicon glyphicon-list'></span> Counter</a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']"><span class='glyphicon glyphicon-globe'></span> Home</a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/feed']">
                        <span class='glyphicon glyphicon-baby-formula'></span> Feed </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-baby-formula'></span> Profile
                    </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/resources']">
                        <span class='glyphicon glyphicon-education'></span> Resources
                    </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/tips']">
                        <span class='glyphicon glyphicon-bell'></span> Tips/Tutorials
                    </a>
                </li>  <br/>              
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/products']">
                        <span class='glyphicon glyphicon-knight'></span> Products
                    </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/services']">
                        <span class='glyphicon glyphicon-sunglasses'></span> Services
                    </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/events']">
                        <span class='glyphicon glyphicon-bell'></span> Events
                    </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/events']">
                        <span class='glyphicon glyphicon-bell'></span> Whats happening near you
                    </a>
                </li><br/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/recommend']">
                        <span class='glyphicon glyphicon-bell'></span> Recommendations
                    </a>
                </li><br/>
            </ul>

